.adress-phisical {
  display: block;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include text(400, 14px, 1.71);

  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.adress {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include text(400, 14px, 1.71);

  margin-top: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
