/* Footer Form */
.footer-form-container {
  width: 100%;
}
.footer-form {
  // display: flex;
  color: white;
  margin-left: auto;
  // position: relative;
  margin-top: 60px;
  @media screen and(min-width:768px) {
    // display: flex;
    // justify-content: center;
    margin-left: 0;
  }
  @media screen and(min-width:1200px) {
    justify-content: left;
    margin-left: 93px;
    margin-top: 0;
  }
}
.footer-form-name {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  @include text(700, 14px, 1.17);
  text-transform: uppercase;
  @media screen and(min-width:1200px) {
    justify-content: left;
  }
}
// .footer-form-field {
//   width: 450px;
// }

.footer-form-input {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  // position: absolute;
  // top: 36px;
  // left: 0px;
  padding-left: 16px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(min-width:1200px) {
    width: 358px;
  }
}
.icon-icon-send {
  // position: absolute;
  // top: 13px;
  // right: 28px;
  fill: white;
  margin-left: 10px;
}
