.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-background.jpg);
  background-repeat: no-repeat;

  margin-right: auto;
  margin-left: auto;
  height: 600px;
  max-width: 1600px;
  background-position: center;
  background-size: cover;
}

.hero__name {
  color: white;
  font-family: Roboto, sans-serif;
  // @include text(900, 44px, 1.36);
  @include text(900, 26px, 1.62);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
