/* log */
.log {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  @include text(700, 24px, 1.17);

  // margin-right: 84px;

  @media screen and(min-width:1200px) {
    // margin-right: 93px;
    @include text(700, 26px, 1.19);
  }
}

.log__studio_black {
  color: #000000;
}
// footer log
.log__studio_white {
  color: #ffffff;
}
