/* nav */
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  // display: flex;
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-family: Roboto, sans-serif;
  @include text(500, 14px, 1.14);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link_border {
  position: relative;
  &::after {
    content: "";

    position: absolute;
    display: block;
    width: 100%;
    height: 4px;

    bottom: 0;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}
.nav__link_active {
  position: relative;
  color: var(--accent-color);
  &::after {
    content: "";

    position: absolute;
    display: block;
    width: 100%;
    height: 4px;

    bottom: 0;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
