/* fhoto list */
.photo-list-link {
  display: block;

  &:hover .photo-list-text,
  &:focus .photo-list-text {
    transform: translateY(0%);
  }
}
.photo-list-card {
  position: relative;
  overflow: hidden;
}

.photo-list-text {
  position: absolute;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  display: block;
  font-family: Roboto, sans-serif;
  @include text(400, 18px, 1.56);

  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-list {
  margin-right: -30px;
  margin-top: -30px;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.photo-list .list {
  margin-top: 30px;
  margin-right: 30px;
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and(min-width:1200px) {
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
.photo-list h2 {
  color: var(--title-color);
  font-family: Roboto, sans-serif;
  @include text(700, 18px, 2);
}
.photo-list p {
  font-family: Roboto, sans-serif;
  @include text(400, 16px, 1.88);

  color: #757575;
}
.photo-list-description {
  padding: 20px 24px;

  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.shadow-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
