.button {
  display: flex;
  align-items: center;
  text-align: center;

  min-width: 200px;
  height: 50px;

  background-color: var(--accent-color);

  font-family: Roboto, sans-serif;
  @include text(700, 16px, 1.88);
  color: white;

  cursor: pointer;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.button__hero {
  justify-content: center;
  margin: 0 auto;
  padding: 10px 32px;

  border: 0px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// mobil menu button
.header__mobil-menu {
  background-color: unset;
  border: none;
  margin-top: 22px;
  margin-right: 8px;
}
.mob-button-close {
  position: absolute;

  border: none;
  background-color: unset;

  right: 26px;
  top: -25px;
}

// foter form button
.button__footer {
  position: absolute;
  justify-content: flex-start;
  right: 0;
  top: 36px;

  padding: 10px 29px;
  border: 0px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Modal window button
.button__modal {
  justify-content: center;
  margin: 0 auto;
  padding: 10px 55px;

  border: 0px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
