.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;

  padding: 40px;
}
.button-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 6px;
  &:hover .icon-close-black {
    fill: var(--accent-color);
  }
}
.icon-close-black {
  text-align: center;
  justify-content: center;
  fill: #000000;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-form {
  display: flex;
  flex-direction: column;
  color: #757575;
}
.modal-form-head {
  font-family: Roboto, sans-serif;
  @include text(700, 20px, 1.15);
  color: rgba(33, 33, 33, 1);
  text-align: center;
  margin-bottom: 30px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field {
  font-family: Roboto, sans-serif;
  @include text(400, 12px, 1.17);

  margin-bottom: 10px;
}
.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field-icon {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-family: Roboto, sans-serif;
  @include text(400, 12px, 1.17);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-chackbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/svg/symbol-defs.svg#icon-icon-check);
  border: none;
}
.modal-form-chackbox:focus + .modal-form-checkbox-label::before {
  background-image: url(../images/svg/symbol-defs.svg#icon-icon-check);
  border: none;
}
.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  @include text(400, 14px, 1.71);

  margin-bottom: 30px;
  margin-top: 10px;
}
