body {
  color: #757575;
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
.title {
  font-family: Roboto, sans-serif;
  @include text(700, 36px, 1.17);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}
/* Сброс отступов между элементами */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
